2. Write a probram that checks if a given string is a palindrome or not.

In [2]:
a = input("Enter the number: ")  
b = a[::-1]  
if a == b:  
    print(a,"is Palindrome")  
else:  
    print(a,"is not a palindrome")

noon is Palindrome

3. WAP that calculates the sum of even numbers from   1 to 100 and prints a message based on whether the sum is greater than 100.

In [6]:
for i in range(0, 100, 2):
    sum = 0
    sum += i
if sum < 1000:
        print("Sum is less than 1000")
else:
        print("Not less")

Sum is less than 1000

4. Create a list of country names, then write a program to create a new list of counteies whose name starts only with 'N' or 'n' from the previous list:

In [15]:
country = ["Nepal", "nepal", "America","netherland","Norway"]
new = []
for a in country:
    if a[0] in ["N", "n"]:
        new.append(a)
print(new)

['Nepal', 'nepal', 'netherland', 'Norway']

In [8]:
countrieslist = ["Nepal", "NewZealand", "India", "America"]
newlist = []
for country in countrieslist:
    if "N" in country:
        newlist.append(country)
print(newlist)

['Nepal', 'NewZealand']

5. Create an empty data dictionary with keys: name, roil, address, age where all the keys store a list of values. Fill in 10 valid data samples in the dictionary asking from the user. Then add a new key to the dictonary called 'category'. If age is less than or equal to 15 then, category v.Ã¥tl be 'Junior'. if between 15 to 25(included).cateqory be 'Mid' and for the rest - category will be 'Senior'. Display the data dictionary. Calculate tho average age and most frequent category.

In [10]:
dic = {
    "Name": [],
    "Age": [],
    "Roll": [],
    "Address": []
}

for i in range(1):
    dic["Name"].append(input("Enter the name of the student: "))
    dic["Age"].append(int(input("Enter the age of the student: ")))
    dic["Roll"].append(int(input("Enter the roll number of the student: ")))
    dic["Address"].append(input("Enter the address of the student: "))

print(dic)

{'Name': ['Ram'], 'Age': [18], 'Roll': [28], 'Address': ['Bhaktapur']}

In [12]:
Data = {
    "name": [],
    "roll": [],
    "address": [],
    "category": []
}

for i in range(1, 2):
    n = input("Enter your name: ")
    r = input("Enter your roll no: ")
    a = input("Enter your address: ")
    
    if "name" in Data:
        Data["name"].append(n)
        Data["roll"].append(r)
        Data["address"].append(a)

print(Data)

{'name': ['Ram'], 'roll': ['28'], 'address': ['Bhaktapur'], 'category': []}

normal

In [20]:
students = {
    "name": [],
    "roll": [],
    "address": [],
    "age": [],
    "category": []
}

n = 2

for i in range(n):
    students["name"].append(input(f"Enter name of student {i + 1}: "))
    students["roll"].append(input(f"Enter roll no of student {i + 1}: "))
    students["address"].append(input(f"Enter address of student {i + 1}: "))
    students["age"].append(int(input(f"Enter age of student {i + 1}: ")))

age_sum = 0
junior_count = 0
mid_count = 0
senior_count = 0

for i in range(n):
    age_sum += students["age"][i]
    
    if students["age"][i] <= 15:
        students["category"].append("Junior")
        junior_count += 1
    elif 15 < students["age"][i] <= 25:
        students["category"].append("Mid")
        mid_count += 1
    else:
        students["category"].append("Senior")
        senior_count += 1

print("\nThe Student Dictionary:")
print(students)

average_age = age_sum / n
print(f"\nThe average age is: {average_age:.2f}")

print("\nThe most frequent category is:")
if junior_count > mid_count and junior_count > senior_count:
    print("Junior")
elif mid_count > junior_count and mid_count > senior_count:
    print("Mid")
else:
    print("Senior")

The Student Dictionary:
{'name': ['Ram', 'HAri'], 'roll': ['28', '26'], 'address': ['bkt', 'ktm'], 'age': [18, 17], 'category': ['Mid', 'Mid']}

The average age is: 17.50

The most frequent category is:
Mid

used pd unique and other methods

In [8]:
import pandas as pd

# Create the empty data dictionary
data = {
    "name": [],
    "roll": [],
    "address": [],
    "age": [],
    "category": []
}

# Fill the dictionary with 10 samples
for i in range(10): #10
    n = input("Enter your name: ")
    r = input("Enter your roll no: ")
    a = input("Enter your address: ")
    age = int(input("Enter your age: "))
    
    # Categorize based on age
    if age <= 15:
        category = "Junior"
    elif 15 < age <= 25:
        category = "Mid"
    else:
        category = "Senior"

    # Append data to the dictionary
    data["name"].append(n)
    data["roll"].append(r)
    data["address"].append(a)
    data["age"].append(age)
    data["category"].append(category)

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Display the data DataFrame
print("\nData DataFrame:")
print(df)

# Calculate average age
average_age = df['age'].mean()
print(f"\nAverage Age: {average_age:.2f}")

# Get the unique categories and the most frequent category
unique_categories = pd.unique(df['category'])
print(f"Unique Categories: {unique_categories}")

# Find the most frequent category using mode
most_frequent_category = df['category'].mode()[0]
print(f"Most Frequent Category: {most_frequent_category}")
df.to_csv('students_data.csv', index=False)

Data DataFrame:
      name roll    address  age category
0      Ram    1  Bhaktapur   18      Mid
1  Krishna    2  Kathmandu   19      Mid
2    Shyam    3   Lalitpur   26   Senior
3     Sita    4    Pokhara   20      Mid
4     Gita    5   Janakpur   24      Mid
5    Sudip    5      Rolpa   45   Senior
6    Henry    6    Karnali   30   Senior
7      Ban    7      Koshi   24      Mid
8     Rita    8      Kaski   28   Senior
9     Hari    9       Dang   21      Mid

Average Age: 25.50
Unique Categories: ['Mid' 'Senior']
Most Frequent Category: Mid

In [3]:
df.to_csv('students_data.csv', index=False)

6. convert the data dictonary createed in task 5 to pandas dataframe and display top 5 rows. Study the summary and dataframe info. add two new columns: 'first_name' and 'last_name' and fill them using 'name' column and then drop the 'name' column. display the bottom five rows.

In [42]:
import pandas as pd

# Create the DataFrame
df = pd.read_csv('students_data.csv')

# Print the top 5 rows
print("Top 5 rows:")
print(df.head())

# Display summary statistics
print("\nIn DataFrame summary:")
print(df.describe())

# Display DataFrame info
print("\nIn DataFrame Info:")
print(df.info())

# Split the 'name' column into 'first_name' and 'last_name' columns and drop the 'name' column
df[['first_name', 'last_name']] = df['name'].str.split('',n=1, expand=True)
df.drop(columns=['name'], inplace=True)

# Print the bottom 5 rows
print("\nIn Bottom 5 rows:")
df.tail()

Top 5 rows:
      name  roll    address  age category
0      Ram     1  Bhaktapur   18      Mid
1  Krishna     2  Kathmandu   19      Mid
2    Shyam     3   Lalitpur   26   Senior
3     Sita     4    Pokhara   20      Mid
4     Gita     5   Janakpur   24      Mid

In DataFrame summary:
            roll        age
count  10.000000  10.000000
mean    5.000000  25.500000
std     2.581989   7.891627
min     1.000000  18.000000
25%     3.250000  20.250000
50%     5.000000  24.000000
75%     6.750000  27.500000
max     9.000000  45.000000

In DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   roll      10 non-null     int64
 2   address   10 non-null     object
 3   age       10 non-null     int64
 4   category  10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes
None

In Bottom 5 rows:

   roll  address  age category first_name last_name
5     5    Rolpa   45   Senior                Sudip
6     6  Karnali   30   Senior                Henry
7     7    Koshi   24      Mid                  Ban
8     8    Kaski   28   Senior                 Rita
9     9     Dang   21      Mid                 Hari

In [1]:
import pandas as pd

# Assuming the 'students' data dictionary from previous code
students = {
    "name": ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hannah', 'Ivy', 'Jack'],
    "roll": ['101', '102', '103', '104', '105', '106', '107', '108', '109', '110'],
    "address": ['NY', 'LA', 'SF', 'Miami', 'Houston', 'Chicago', 'Boston', 'Dallas', 'Seattle', 'Phoenix'],
    "age": [14, 22, 16, 19, 30, 25, 10, 23, 17, 18],
    "category": ['Junior', 'Mid', 'Junior', 'Mid', 'Senior', 'Senior', 'Junior', 'Mid', 'Junior', 'Mid']
}

# Convert the dictionary to a pandas DataFrame
df = pd.DataFrame(students)

# Display the top 5 rows
print("\nTop 5 rows of the DataFrame:")
print(df.head())

# Study the summary and dataframe info
print("\nDataFrame info:")
print(df.info())

print("\nSummary statistics of DataFrame:")
print(df.describe())

# Add 'first_name' and 'last_name' columns
df['first_name'] = df['name'].apply(lambda x: x.split()[0])  # Assume the first part is first name
df['last_name'] = df['name'].apply(lambda x: x.split()[-1])  # Assume the last part is last name

# Drop the 'name' column
df = df.drop(columns=['name'])

# Display the bottom 5 rows
print("\nBottom 5 rows of the DataFrame:")
print(df.tail())

Top 5 rows of the DataFrame:
      name roll  address  age category
0    Alice  101       NY   14   Junior
1      Bob  102       LA   22      Mid
2  Charlie  103       SF   16   Junior
3    David  104    Miami   19      Mid
4      Eva  105  Houston   30   Senior

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   roll      10 non-null     object
 2   address   10 non-null     object
 3   age       10 non-null     int64
 4   category  10 non-null     object
dtypes: int64(1), object(4)
memory usage: 532.0+ bytes
None

Summary statistics of DataFrame:
            age
count  10.00000
mean   19.40000
std     5.77735
min    10.00000
25%    16.25000
50%    18.50000
75%    22.75000
max    30.00000

Bottom 5 rows of the DataFrame:
  roll  address  age category first_name last_name
5  106  Chicago   25   Senior      Frank     Frank
6  107   Boston   10   Junior      Grace     Grace
7  108   Dallas   23      Mid     Hannah    Hannah
8  109  Seattle   17   Junior        Ivy       Ivy
9  110  Phoenix   18      Mid       Jack      Jack